body, html{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    color: #ddd;
}

img{
    width: 300px;
    height: 300px;
}

.imagem{
    position: relative;
}

.descricao{
    width: 300px;
}
.descricao h2{
    margin-bottom: 3px;
}
.descricao i{
    margin-bottom: 15px;
}
.MusicPlayer{
    width: 300px;
    margin-top: 5px;
}
.timeLine{
    width: 300px;
    height: 6px;
    border: #eee solid 1px;
    background: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

progress{
    height: 6px;
    width: 0%;
    background-color: #333;
}

.ponto{
    background-color: #eee;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: -2px;
}

.duraction{
    display: flex;
    justify-content: space-between;
    width: 300px; 
}

.player{
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player i:hover{
    cursor: pointer;
    color: #ececec;
}

.player i:active{
    animation: setinhas .2s ease-out alternate;
}

@keyframes setinhas {
    from{
        transform: translateY(-10px);
    }
}

.botao-play, .botao-pause{
    font-size: 50px;
}

#click{
    display: none;
}

.setas{
    font-size: 40px;
}

